body {
    margin: 0;
    padding: 0;
    background-color: #F3F3F3;
    font-family: "Outfit", sans-serif;
}

h1 {
    margin-left: 15%;
    font-size: 2rem;
}

hr {
    width: 80%; 
    height: 2px; 
    background-color: #2185D5; 
    border: none; 
    margin: 3rem auto;
}

.navbar > img {
    width: auto;
    height: 50px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #303841;
    width: 100%;
    border-bottom: 3px solid #2185D5;
}

.navbar li {
    list-style: none;
    display: inline-block;
    font-size: 1.3em;
    color: #F3F3F3;
    text-decoration: none;
}

.navbar li a {
    color: #F3F3F3;
    text-decoration: none;
    padding: .3em 1.3em .8em 1.3em;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.navbar li a:hover {
    text-decoration: none;
    border-top: 3px #2185D5 solid;
    border-right: 3px #2185D5 solid;
    border-left: 3px #2185D5 solid;
    border-bottom: 3px #F3F3F3 solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 1rem 25% 0 25%;
}

.container img {
    object-fit: fill;
    width: 100%;
}

.container p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.container h3 {
    font-size: 2em;
    margin: 0
}


.rank-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 1rem 25% 0 25%;
}

#ranksH1 {
    margin: 1rem 25% 0 25%;
}

.rank-container > div {
    background-color: #dbd7d73d;
    border-radius: 2em;
    border: .1em solid #a0a0a0;
    text-align: center;
    color: black;  
} 
.rank-container img {
    object-fit: fill;
    width: 100%;
}

footer {

    background-color: #303841;
    padding-bottom: .1em;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    border-top: 3px #2185D5 solid;
    color: white;
    margin-top: 2rem;
}

footer a {
    color: #2185D5;
}

.topInfo {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.topInfo li {
    font-size: 2rem;
    font-weight: bolder;  
    padding: 1em 3em 0 3em;  
    text-align: center;
}

.customHR {
    margin-top: 0;
}

#mechanicsPhoto img {
    margin: 1rem 25% 0 25%;
    width: 960px;
}


.mechanics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 25% 0 25%;
    text-align: center;
    background-color: #dbd7d73d;
    padding: 5em;
    line-height: 1.5em;
    border-radius: 1em;

}

.mechanics-container div {
    border-bottom: 3px solid black;
    padding: 0 1.3em 0 1.3em;
}

.mechanics-container h3 {
    text-decoration: underline;
}

#showcase {
    margin: 0rem 25% 1em 25%;
}

iframe {
    margin: 0rem 25% 0 25%;
    border: 3px black solid;
}

#gameSensePhoto img {
    width: 960px;
}

#gameSensePhoto {
    margin: 0rem 25% 1em 25%;
    font-size: 1.2em;
    line-height: 1.5em;
}


/* Media Queries */

/* 999px */

@media (max-width: 999px) {
    .navbar {
        display: block;
    }
    .navbar > img {
        display: block;
        margin: auto;
    }
    .navbar li {
        display: block;
        text-align: center;
        font-size: 2.5em;
    }

    .navbar li a {
        padding: 5px;
    }

    ul {
        padding: 0;
    }
    .topInfo {
        display: block;
        text-align: center;
        
    }

    .rank-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0rem 10% 1em 10%;
    }
    .container{
        margin: 0rem 10% 1em 10%;
    }
    .navbar li a:hover {
        border: none;
        background-color: #F3F3F3;
        color: black;
    }
}

/* 1000 — 1600px */
@media (min-width: 1000px) and (max-width: 1600px){
    .topInfo {
        display: block;
        text-align: center;
    }
    
    .rank-container {
        margin: 0rem 10% 1em 10%;
    }
    .container{
        margin: 0rem 10% 1em 10%;
        grid-template-columns: repeat(1, 1fr);
    }
    #gameSensePhoto > img {
        display: flex;
        margin: auto;
    }
  }
